<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Simple site</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="/static/scripts.js"></script>
</head>

<body>
    <!-- Login panel -->
    <h2>Login</h2>
    <div id="add_entry">
        <table>
            <tr>
                <td>Username:</td>
                <td><input type="text" name="username" id="username" size="15" /></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td> <input type="password" id="pass" name="password" minlength="4" size="15" required></td>
            </tr>
            <tr>
                <td><input id="b1" type="button" value="Login" onclick="login();" style="width:100%"></td>   
            </tr>

        </table>
    </div>
    <footer>
        <div class="con">
            <span class="strong">Telephone:</span> |
            +4740978057 |
            <a href="#">checkuti@gmail.com</a>
        </div>
    </footer>

</body>

</html>